/*-------*/
/*GENERAL ELEMENTS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #333;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #004a82;
    text-decoration: none
}

p {
    margin: 0
}

input {
    outline: none
}

img {
    width: 100%;
    max-width: 100%;
    display: block
}

h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

.header {
    min-height: 201px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1100px;
    margin: 0 auto;
}

.img-resize {
    display: block;
    position: relative;
}

.img-resize:before {
    padding-bottom: 62.5%;
    content: "";
    display: block;
}

/*----------------*/
/*HEADER TOP*/
/*----------------*/
.header_top {
    padding: 4px 0;
}

.header_top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 141px;
}

.time {
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -.005em;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

.header_top-right {
    display: flex;
    align-items: center;
}

.header_search {
    position: relative;
}

.form-search {
    display: flex;
    align-items: center;
}

.form-search:hover .input-layout {
    width: 200px;
}

.input-layout {
    width: 0;
    overflow: hidden;
    transition: .3s all;
    margin-right: 5px;
}

.input-search {
    height: 28px;
    width: 100%;
    border: transparent;
    background: #eceaea;
    border-radius: 8px;
    margin-right: 5px;
    padding: 0 10px;
}

.form-search-btn .btn-search-submit {
    display: flex;
}

.header__top-hotline {
    margin-left: 20px;
}

.header__top-hotline .header-hl {
    background: #ed1c24;
    border-radius: 10px;
    padding: 3px 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -.005em;
    color: #fff;
}

/*-----------------*/
/*HEADER MIDDLE*/
/*-----------------*/
.header-middle {
    background: url("https://static.mediacdn.vn/covid19.gov.vn/image/bg-header.png") no-repeat center;
    background-size: cover;
}

.header__middle-flex {
    display: flex;
    padding-top: 10px;
    align-items: flex-end;
}

.header__logo {
    width: 100%;
    height: 121px;
    display: flex;
    position: relative;
    top: -38px;

}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header-slg {
    display: block;
    flex: 1;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -.005em;
    color: #fff;
    margin-left: 20px;
    position: relative;
    top: -38px;
}

p {
    line-height: 5.5;
}

/*-----------------*/
/*HEADER BOT*/
/*-----------------*/
.header__bot {
    background: #2e3192;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header__nav ul {
    display: flex;
    align-items: center;
}

.header__nav ul li .nav-link {
    display: block;
    padding: 0 6px 6px;
    border-bottom: 3px solid transparent;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}


.header__nav ul li .nav-link .active {
    border-bottom-color: #fff;
}

/*----------------*/
/*FOOTER*/
/*----------------*/
.footer {
    background: #2e3192;
    margin-top: 38px
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 0
}

.footer__logo {
    width: 121px;
    height: 121px;
    display: flex;
    position: relative;
    top: -47px
}

.footer__left {
    max-width: calc(100% - 120px);
    flex: 1
}

.footer__left .footer-flex {
    display: flex;
    align-items: flex-start
}

.footer__left .text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: #fff
}

.footer__left .text:first-child {
    font-weight: 600
}

.footer__left .text.dot {
    padding-left: 15px;
    position: relative
}

.footer__left .text.dot:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px
}

.footer__left .text.dot:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px
}

.footer__left .text span {
    font-weight: bold
}

.footer__name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -.005em;
    color: #fff;
    margin-left: 14px;
    flex: 1
}

.footer__right .text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: right;
    color: #fff;
    margin-bottom: 5px
}

.footer__right .text span {
    font-weight: bold
}

.footer__right .text:first-child {
    font-size: 13px
}

.vccorp-footer-logo {
    background: url(https://vccorp.mediacdn.vn/vccorp-s.png) no-repeat;
    width: 100px;
    height: 49px;
    display: block;
    float: right;
    margin-top: 8px
}

/*------------*/
/*HOME*/
/*------------*/
.home__statistical {
    margin: 30px 0 20px;
}

.home__statistical-nav {
    margin-bottom: 10px;
}

.home__statistical-nav ul {
    display: flex;
    align-items: center;
}

.home__statistical-nav ul li {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.home__statistical-nav ul li:before {
    content: "/";
    height: 24px;
    left: 0;
    font-size: 34px;
    margin-right: 16px;
    position: relative;
    top: -6px;
    color: #C0C1DE;
}

.home__statistical-nav ul li:first-child {
    margin-left: 0;
}

.home__statistical-nav ul li:first-child:before {
    display: none;
}

.home__statistical-nav ul li a {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: rgba(46, 49, 146, 0.6);
    display: block;
    position: relative;
}

.home__statistical-nav ul li a.active {
    font-size: 22px;
    line-height: 130%;
    color: #2E3192;
    font-weight: 700;
    padding-left: 16px;
    position: relative;
}

.home__statistical-nav ul li a.active:before {
    content: "";
    width: 3px;
    height: 24px;
    background: #2E3192;
    left: 0;
    top: 2px;
    position: absolute;
}

.home__statistical-nav ul li a.active:after {
    content: "";
    width: 3px;
    height: 24px;
    background: #ED1C24;
    left: 3px;
    top: 2px;
    position: absolute;
}

.home__statistical-nav-content {
    display: flex;
    justify-content: space-between;
}

.home__statistical-nav-content .content-tab {
    width: 100%;
    display: none
}

.home__statistical-nav-content .content-tab.show {
    display: block
}

.home__statistical-list {
    display: flex;
    justify-content: space-between;

}

.home__statistical-list .item {
    width: 346.64px;
    text-align: center;
    background: rgba(237, 28, 36, .1);
    padding: 8px
}

.home__statistical-list .item:nth-child(2) {
    background: rgba(43, 185, 75, 0.1)
}

.home__statistical-list .item:nth-child(2) .value {
    color: #28a745
}


.home__statistical-list .item:nth-child(3) {
    background: #f0eff4
}

.home__statistical-list .item:nth-child(3) .value {
    color: #333
}

.home__statistical-list .item .text {
    font-size: 13px;
    line-height: 160%;
    text-align: center;
    color: #333;
    font-weight: 600
}

.home__statistical-list .item .value {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #ed1c24;
}

.home__statistical-list .item .note {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: #666
}

.home__statistical-list .item .note span {
    font-weight: 600
}

.home__focus-flex {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
}

.home__focus-item {
    width: calc(100% - 400px);
    padding-right: 20px;
}

.home__focus-item .img-resize {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 12px;
}

.img-resize img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.home__focus-item .box-focus-link-title {
    font-size: 24px;
    line-height: 130%;
    letter-spacing: .02em;
    color: #333;
    margin-bottom: 12px;
    font-weight: 600;
    display: block;
}

.home__focus-item .box-focus-sapo {
    font-family: Arial, sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    color: #444;
}